<div class="d-flex align-content-center mascara">

</div>
<div class="main">
    <p class="sign text-center">Bienvenido</p>
    <form #frmLogin="ngForm" class="login-container" (ngSubmit)="onLogin(frmLogin)">
        <input class="un text-center form-control" type="text" placeholder="Correo electrónico" name="usu_correo" autocomplete="username" ngModel required>
        <input class="pass text-center form-control" type="password" name="usu_contrasena" placeholder="Contraseña" autocomplete="current-password" ngModel required>
        <button type="submit" class="submit text-center" value="Send">Iniciar Sesión</button>
        <p class="forgot text-center">Recuperar Contraseña</p>
    </form>
</div>