// If you want to override variables do it here
@import "variables";
// Import styles
@import "~@coreui/coreui/scss/coreui";
// If you want to add something do it here
@import "custom";
$colorChec: #048243;
$colorGrisFuente: #73818f;
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: $colorGrisFuente;
    background: #ffffff !important;
}

.sidebar .nav-link:hover {
    color: #fff !important;
    background: $colorChec;
}

.sidebar .nav-link {
    display: block;
    padding: 0.75rem 1rem;
    color: $colorGrisFuente;
    text-decoration: none;
    background: transparent;
}

.sidebar .nav-dropdown.open {
    background: #efefef;
}

.sidebar .nav-dropdown.open .nav-link {
    color: $colorGrisFuente;
    border-left: 0;
}

.sidebar .nav-link.active {
    color: #ffffff !important;
    background: $colorChec;
}

.sidebar .nav-title {
    padding: 0.75rem 1rem;
    font-size: 80%;
    font-weight: 700;
    color: $colorGrisFuente;
    text-transform: uppercase;
    border: 1px solid #c5c5c54a;
}

.sidebar .nav-link.active .nav-icon {
    color: #ffffff;
}

.sidebar-minimized .sidebar .sidebar-minimizer {
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: $colorChec;
}

.sidebar .sidebar-minimizer:hover {
    color: #ffffff;
    background-color: $colorChec
}

.sidebar .sidebar-minimizer {
    position: relative;
    flex: 0 0 50px;
    color: #ffffff;
    cursor: pointer;
    background-color: $colorChec;
    border: 0;
}

.sidebar-minimized .sidebar .nav-item:hover>.nav-link {
    background: $colorChec;
    color: white !important;
}

a:hover {
    color: $colorChec;
    text-decoration: underline;
}

a {
    color: $colorChec;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-minimized .sidebar .nav>.nav-dropdown>.nav-dropdown-items {
    display: none;
    max-height: 1000px;
    background: #efefef;
}

.badge-secondary {
    color: #fefffe;
    background-color: #f86c6b;
}

.show_preloader {
    display: block;
}

.hide_preloader {
    display: none;
}

$width: 100px;
#preloader .loader1 {
    position: relative;
    margin: 0 auto;
    width: $width;
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

#preloader .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#preloader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: $red;
    }
    40% {
        stroke: $blue;
    }
    66% {
        stroke: $green;
    }
    80%,
    90% {
        stroke: $yellow;
    }
}

#preloader .showbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999999 !important;
}

#preloader .cargando {
    padding-left: 13%;
    padding-top: 13%;
    color: #ffffff;
    font-weight: bold;
    z-index: 9999 !important;
}